<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>

<form action="/albums/search" method="get">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Search</button>
</form>
<h2>Current Albums:</h2>
<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
      <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<h2>Sold Albums:</h2>
<% if @albums_sold.any? %>
  <ul>
    <% @albums_sold.each do |album| %>
      <li><%= album.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>
